{% extends 'base.html.twig' %}
{% block css %}
    {{ parent() }}
    <style>
        iframe img {
            max-width: 250px;
            max-height: 250px;
        }
    </style>

{% endblock %}
 {% block menu %}
     {% include('components/menu.html.twig') with {'transparent' : 'true'}%}
 {% endblock %}
{% block content %}


    <div id="slider" class="inspiro-slider dots-creative" data-height-xs="360">

        <div class="slide" data-bg-image="{{ asset('images/upload/' ~ general.imageAccueil) }}">
            <div class="bg-overlay"></div>
            <div class="container {{ general.positionSloganAccueil }}">
                <div class="center-sm" >
                    <div class="slide-captions text-light">
                        <h2 data-animate="fadeInUp" style="font-size: 44px ;color : {{ general.couleurSlogan }} !important" class="slider-text" data-animate-delay="600">{{ general.slogan | raw }}</h2>
                        {% if general.sousTexteSlogan != null or general.sousTexteSlogan != '' %}<p class="slider-text" style="color : {{ general.couleurSlogan }} !important"> {{ general.sousTexteSlogan }}</p>{% endif %}
                    </div>
                    <a href="{{ path('contact') }}" class="btn btn-success" data-animate="fadeInUp" data-animate-delay="600">Demande de devis express</a>
                </div>
            </div>
        </div>

    </div>

    <section id="page-content">
        <div class="container">
            <div class="grid-system-demo-live">
                <div class="row pb-0">
                    <div class="col-6" data-animate="fadeInLeft">
                        <div class="home-image text-center" style="background-image: url('{{ asset('websiteImage/imageGauche.png') }}')">
                            <h2 class="text-light vertical-align"> {{ imageAccueil.texteGauche | upper  }} </h2>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="home-image text-center" data-animate="fadeInRight" style="background-image: url('{{ asset('websiteImage/imageDroite.png') }}')">
                            <h2 class="text-light vertical-align">{{ imageAccueil.texteDroite | upper }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pt-0 pb-0" id="presentation">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="col-lg-12 vertical-align">
                        <div class="heading-text heading-section " data-animate="fadeInUp">
                            <h2><span>{{ general.accueilTitreSection1 |default('Qui sommes nous ? ')}}</span></h2>
                            <p>{{ general.quiSommesNous | raw }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="home-image text-center" data-bg-image="{{ asset('images/upload/quiSommesNous.png') }}">
                        <h2 class="text-light vertical-align"></h2>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="pt-0">
        <div class="container">
            <div class="row reverse">
                <div class="col-lg-6">
                    <div class="col-lg-12 p-t-30 p-b-20">
                        <div class="heading-text heading-section " data-animate="fadeInUp">
                            <h2><span>{{ general.accueilTitreSection2 | default('Nos chiffres clés')}} </span></h2>
                            {{ general.nosChiffresCles | raw }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="home-image text-center" data-bg-image="{{ asset('images/upload/chiffresCles.png') }}">
                        <h2 class="text-light vertical-align"></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pt-0">
        <div class="container">
            <div class="col-lg-12">
                <div class="heading-text heading-section ">
                    <h2><span>Nos réalisations</span></h2>
                </div>
            </div>
            <div class="row" data-animate="fadeInUp">
                {% for realisation in realisations|slice(0,3) %}
                    <div class="grid-item col-lg-4 {{ realisation.type }}">
                        <div class="grid-item-wrap m-4" style="height: 200px;">
                            <a href="{{ path('realisationAjax',{'realisation' : realisation.id}) }}" data-lightbox="ajax" style="height: 200px;"><div class="grid-image background-image rounded" style="height: 200px; background-image: url('{{ asset('images/upload/' ~ realisation.image) }}')">
                                </div></a>
                        </div>
                        <div class="text-center">
                            <h4>{{ realisation.titre }}</h4>
                            <p>{{ realisation.adresse }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="text-center">
                <a class="btn btn-light text-center" href="{{ path('realisations') }}">Toutes nos réalisations</a>
            </div>

        </div>
    </section>


    {% include('composantsPages/ilsNousFontConfiance.html.twig') %}
    <section class="pt-0 text-center">
        <a href="{{ path('contact') }}" class="btn btn-lg btn-success" data-animate="fadeInUp" data-animate-delay="600">Demande de devis express</a>
    </section>

    <section class="pt-0">
        <div class="container">
            <div class="col-lg-12">
                <div class="heading-text  heading-section">
                    <h2><span>Nos garanties</span></h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% for engagement in engagements %}
                    <div class="col-lg-4" data-animate="fadeInUp" data-animate-delay="{{ 300 * loop.index0 }}">
                        <div class="icon-box medium clean">
                            <div class="icon visible"> <a href="#"><i class="fa fa-{{ engagement.icone }}"></i></a> </div>
                            <h3>{{ engagement.titre }}</h3>
                            <p>{{ engagement.contenu }} </p>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>
    <section class="pt-0">
        <div class="container">
            <div class="col-lg-12">
                <div class="heading-text  heading-section">
                    <h2><span>Notre actualité</span></h2>
                    <p>Découvrez toute l'actualité {{ general.nomEntreprise }} : nouveaux chantiers, évènements, nouveautés du marché...</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div id="article" class="grid-layout post-3-columns m-b-30" data-item="post-item">

                {% for article in articles | slice(0,3) %}
                    <div class="post-item border" data-animate="fadeInUp" data-animate-delay="{{ 300 * loop.index0 }}">
                        <div class="post-item-wrap">
                            <div class="post-image"> <a href="{{ path('actualite',{'id' : article.id}) }}"> <img alt="" src="{{ asset('images/upload/' ~ article.image) }}"> </a></div>
                            <div class="post-item-description"> <span class="post-meta-date"><i class="fa fa-calendar-o"></i>{{ article.date | date('M d, Y') }}</span>
                                <h2><a href="{{ path('actualite',{'id' : article.id}) }}">{{ article.titre }}</a></h2>
                                <div> {{ article.contenu | u.truncate( 200, '...', false) |replace({'<div>': '', '</div>': ""}) | raw}} </div>
                                <a href="{{ path('actualite',{'id' : article.id}) }}" class="item-link">Lire plus <i class="icon-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}


            </div>
            <div class="text-center pt-5">
                <a class="btn btn-light text-center" href="{{ path('actualites') }}">Toutes nos actualités</a>
            </div>
        </div>
    </section>

    <section class="pt-0">
        <div class="container">
            <div class="col-lg-12 ">
                <div class="heading-text heading-section ">
                    <h2><span>Nos clients témoignent</span></h2>
                </div>
            </div>
            <div class="carousel arrows-visible testimonial testimonial-single" data-items="1" data-loop="true" data-autoplay="true" data-autoplay="2000" data-arrows="true" data-animate-in="fadeIn" data-animate-out="fadeOut">
                {% for temoignage in temoignages %}
                    <div class="testimonial-item">
                        {% if temoignage.client is not null %}
                            <img src="{% if temoignage.image is null %}{{ asset('images/upload/' ~ temoignage.client.image)  }}{% else %}{{ asset('images/upload/' ~ temoignage.image)  }}{% endif %}" alt="">
                        {% elseif temoignage.image is not null %}
                            <img src="{{ asset('images/upload/' ~ temoignage.image)  }}" alt="">
                        {% else %}
                            <img src="{{ asset('images/user.png') }}" alt="">
                        {% endif %}
                        <p> {{ temoignage.temoignage }}</p>
                        <span>{{ temoignage.nomPersonne }}</span>
                    </div>
                {% endfor %}


            </div>
        </div>
    </section>

    <section class="pt-0">
        <div class="container">
            <div class="col-lg-12">
                <div class="heading-text  heading-section">
                    <h2><span>Nos réseaux sociaux</span></h2>
                    <p>Découvrez {{ general.nomEntreprise }} avec nos réseaux sociaux.</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row text-center">
                {% for actualite in actualites|slice(0,3) %}
                    <div class="col-xl-4">
                        <div class="fb-post"
                             data-href="{{ actualite.lienFacebook }}"
                             data-width="350"></div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>


{% endblock %}

    {% block js  %}
        {{ parent() }}
    {% endblock %}
