{% extends 'base.html.twig' %}
{% block css %}
    {{ parent() }}
    <style>


    </style>
{% endblock %}
{% block content %}
    <section id="page-title" class="text-light" style="background-image:url('{{ asset('images/realisation.jpg') }}'); background-size: cover; background-position: center center;">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="page-title">
                <h1>Nos réalisations</h1>
                <span>Pour découvrir notre savoir-faire et notre expertise, consultez ici nos dernières réalisations.</span>
            </div>
        </div>
    </section>
    <section id="prestation" class="pt-0">
        <div class="container">
            {#            Debut grid#}
            <div class="grid-filter text-center mt-5 mb-5" data-layout="#realisations" data-animate="fadeInUp" data-animate-delay="0">
                <ul>
                    <li class="" id="tous"><a href="#" data-category="*"> Toutes les Réalisations</a></li>
                    <li class="" id="logement"><a data-category=".logement" href="#">Logements</a></li>
                    <li class="" id="maison"><a data-category=".maison" href="#">Maisons Individuelles</a></li>
                    <li class="" id="extension"><a data-category=".extension" href="#">Extension</a></li>
                    <li class="" id="entreprise"><a data-category=".entreprise" href="#">Entreprise generale</a></li>
                </ul>
            </div>
            <div id="realisations"  data-lightbox="gallery" class="grid-layout grid-3-columns grid-loaded" data-margin="30" data-margin-xs="10" data-item="grid-item" data-layout="fitRows" data-animate="fadeInUp" data-animate-delay="0">
                {% for realisation in realisations %}
                <div class="grid-item {{ realisation.type }}">
                    <div class="grid-item-wrap">
                        <div class="grid-image background-image rounded" style="height: 200px; background-image: url('{{ asset('images/upload/' ~ realisation.image) }}')">
                        </div>
                        <div class="grid-description">
                            <a href="{{ path('realisationAjax',{'realisation' : realisation.id}) }}" data-lightbox="ajax"><i class="fas fa-external-link-square-alt"></i></a>
                        </div>
                        <div class="grid-meta text-center">
                            <h4>{{ realisation.titre }}</h4>
                            <p>{{ realisation.adresse }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}


            </div>

            {#            endGrid #}

        </div>
    </section>

    {% include('composantsPages/ilsNousFontConfiance.html.twig') %}
{% endblock %}

    {% block js  %}
        {{ parent() }}
    {% endblock %}
