{% extends '@!EasyAdmin/crud/edit.html.twig' %}
{% block configured_stylesheets %}
    {{ parent() }}
    {{ include('@EasyAdmin/includes/_css_assets.html.twig', { assets: edit_form.vars.ea_crud_form.assets.cssAssets }, with_context = false) }}
    {{ include('@EasyAdmin/includes/_encore_link_tags.html.twig', { assets: edit_form.vars.ea_crud_form.assets.webpackEncoreAssets }, with_context = false) }}
    <style>.below-flex>form{ display : flex ; flex-wrap : wrap}</style>
{% endblock %}




                                          {% block main %}
                                              <div class="below-flex">
                                                  {% block edit_form %}
                                                      {{ form(edit_form) }}
                                                  {% endblock edit_form %}
                                              </div>

                                              {% block delete_form %}
                                                  {{ include('@EasyAdmin/crud/includes/_delete_form.html.twig', { entity_id: entity.primaryKeyValue }, with_context = false) }}
                                              {% endblock delete_form %}
                                          {% endblock %}

