<footer id="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="widget text-center text-lg-left">
                        <div class="widget-title">{{ generalS.general.nomEntreprise }}</div>
                        <p>{{ generalS.general.entrepriseDescription    }}</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="widget text-center " >
                                <div class="widget-title">Informations</div>
                                {% for adresse in emplacementS.adresses %}
                                    {% if adresse.afficherDansLeFooter %}
                                <p><b>{{ adresse.titre }}</b><br>
                                <span class="fa fa-map-marker"></span> {{ adresse.adresse }}<br>
                                <span class="fa fa-phone-alt"></span> {{ adresse.telephone }}<br>
                                    <span class="fa fa-mail-bulk"></span> {{ adresse.image }}</p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="widget text-center text-lg-right">
                                <div class="widget-title">{{ generalS.general.questionFooter }}</div>
                                <p>{{ generalS.general.descriptionQuestionFooter }}</p>
                                <a href="{{ path('contact') }}" class="btn btn-success">Devis sous 48h</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-content">
        <div class="container">
            <div class="copyright-text row">
                <div class="col-lg-3"><a href="{{ path('contact') }}">Contact</a> </div>
                <div class="col-lg-3"><a href="{{ path('mentionsLegales') }}">Mentions légales</a> </div>
                <div class="col-lg-3"><a href="{{ path('cookies') }}">Cookies</a> </div>
                <div class="col-lg-3"><a href="{{ path('politiqueDeConfidentialite') }}">Politique de confidentialité</a> </div>
            </div>
        </div>
    </div>
</footer>
